* {
    --blue-light: #dabeec;
    --pastel-orange: #ffb26a;
    color: black;

}

body {
    background-color: var(--blue-light);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    /* text align is horizontal */
    text-align: center;
    /* align items is vertical */
    align-items: center;
    justify-content: center;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 150px;
    width: 150px;
    background-color: var(--pastel-orange);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: solid black 5px;
    border-radius: 50%;
}

.logo p {
    background-color: black;
    color: var(--pastel-orange);
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 30%;
}

nav a {
    text-decoration: none;
    background-color: black;
    color: var(--blue-light);
    padding: 0.5rem;
    font-size: 16px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 15%;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
        background-color: var(--blue-light)
    }
    50% {
        transform: rotate(90deg);
    }
    100% {
        transform: rotate(180deg);
        background-color: var(--pastel-orange)
    }
    /* from {background-color: red;}
    to {background-color: yellow;} */
}

header h1:hover {
    animation: spin 0.3s infinite;
}

nav a:hover {
    background-color: var(--pastel-orange);
    color: black;
    /* animation-name: spin;
    animation-duration: 3s; */
    animation: spin 1s infinite linear;
}

.training-option {
    margin-top: 7dvw;
    background: var(--pastel-orange);
    padding: 0.5rem;
    border-radius: 3%;
}

.training-option img{
width: 75dvw;
border-radius: 3%;
}

@media screen and (min-width: 600px) {
    main{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-around;
        text-align: center;
        /* align items is vertical */
        align-items: center;

    }


    nav a {
        font-size: 1.5rem;
    }
    .training-option {
        margin-top: 5dvw;

    }
    .training-option img{
        /* width: 40dvw;
        height: 40dvh; */
        /* object-fit: cover; */
        width: 400px;
        height: 400px;
        border-radius: 3%;
        }
}